div{
	padding: 13px;
	padding-top: 0px;
	max-width: 500px;


}

.margin{
	text-align: center;
	border: dashed;

	margin: auto;
 	
}

.border{
	border: solid 1px black;
	background-color: #98bf21;
	text-align: center;

}

.padding{
	border: solid 1px black;
	text-align: center;
	background-color: #fff;

}

.content{
	border: dashed;
	text-align: center;
	background-color: #fff;

	padding-bottom: 100px;

}